<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Shoot The Fruits</title>
</head>
<body>
<h2>Game Play</h2>
{% if not game_over %}
    <form action="/FireTop" id="top-scroll-form">
        <span class="text" id="top-scroll-form-text">Top:</span> <input type="range" class="scroll" name="position" min="0" max="100"/>
            <span class="attack"><input type="submit" value="Fire Top"/></span>
    </form>
    <form action="/FireBottom">
        <span class="text">Bottom:</span> <input type="range" class="scroll"  name="position" min="0" max="100"/>
            <span class="attack"><input type="submit" value="Fire Bottom"/></span>
    </form>
{% endif %}
<form action="/Reset">
      <input class="reset-button" type="submit" value="New Game">
</form>
{% if game_over %}
    <h2>Game Over!</h2>
    <img src="/static/explosion.png">
{% else %}
    <h2>Battlefield</h2>
    {% for row in range(rows) %}
        {% for col in range(cols) %}
            <img src="/static/{{fruits[row][col]}}.png">
        {% endfor %}
        <br />
    {% endfor %}
    <h2>Score: <b>{{score}}</b></h2>
{% endif %}
</body>
</html>
